@page
@model IndexModel
@{
    ViewData["Title"] = "Learn Hanlder";
}

<div class="text-center">
    <h1 class="display-4">Learn Handler</h1>
    <p>Practice01:<a href="LearnHandler/Practice01">Using function block</a>.</p>
    <p>Practice02:<a href="LearnHandler/Practice02">Using model class</a>.</p>
    <p>Practice03:<a href="LearnHandler/Practice03">Name Handler</a>.</p>
    <p>Practice04:<a href="LearnHandler/Practice04">Name Handler 2</a>.</p>
</div>
