@page
@{
    ViewData["Title"] = "Model Binding";
}

<div class="text-center">
    <h1 class="display-4">Model Binding</h1>
    <p>Practice31:<a href="ModelBinding/Practice31">Model Binding for Form by Parameter Binding</a>.</p>
    <p>Practice32:<a href="ModelBinding/Practice32">Model Binding for Form by Property Binding</a>.</p>
    <p>Practice33:<a href="ModelBinding/Practice33/?fullname=giang&email=giang@gmail.com&age=20">Model Binding for Query String by Parameter Binding</a>.</p>
    <p>Practice34:<a href="ModelBinding/Practice34/?fullname=giang&email=giang@gmail.com&age=20">Model Binding for Query String by Property Binding</a>.</p>
    <p>Practice35:<a href="ModelBinding/Practice35">Model Binding for Route Data</a>.</p>
    <p>Practice36:<a href="ModelBinding/Practice36">Object Binding for POST method</a>.</p>
    <p>Practice37:<a href="ModelBinding/Practice37">Object Binding for GET method</a>.</p>
</div>
