@page
@{
    ViewData["Title"] = "Form and POST Method";
}

<div class="text-center">
    <h1 class="display-4">Form and POST Method</h1>
    <p>Practice21:<a href="PostMethod/Practice21">Test Form 1</a>.</p>
    <p>Practice22:<a href="PostMethod/Practice22">Upload File</a>.</p>
    <p>Practice23:<a href="PostMethod/Practice23">Using check box</a>.</p>
    <p>Practice24:<a href="PostMethod/Practice24">Radio Button</a>.</p>
    <p>Practice25:<a href="PostMethod/Practice25">Combo Box</a>.</p>
    <p>Practice26:<a href="PostMethod/Practice26">List Box</a>.</p>
</div>
