@page
@{
    ViewData["Title"] = "GET Method";
}

<div class="text-center">
    <h1 class="display-4">GET Method - Query string, route data, route template</h1>
    <p>Practice11:<a href="GetMethod/Practice11/?title=hello-world">Query String</a>.</p>
    <p>Practice12:<a href="GetMethod/Practice12/?title=hello-world">Object Request</a>.</p>
    <p>Practice13:<a href="GetMethod/Practice13/this-is-route-data">Route Data</a>.</p>
    
</div>
