@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Lesson 1:<a href="/LearnHandler">Handler and Action Results</a>.</p>
    <p>Lesson 2:<a href="/GetMethod">Get Method - Query string, route data, route template</a>.</p>
    <p>Lesson 3:<a href="/PostMethod">Form and POST Method</a>.</p>
    <p>Lesson 4:<a href="/ModelBinding">Model Binding</a>.</p>
</div>
